app:
    app_name: "lsmcache"
    app_logging_level: "INFO"

    ROOT_DIR: "lsmcache"
    DATA_DIR: "data"

    EXECUTION_PATH: "build/db_runner"
    DYNAMIC_EXECUTION_PATH: "build/db_runner_dynamic"
    # DATABASE_PATH: "/tmp"
    DATABASE_PATH: "/data"
    KEY_FILE_PATH: "data/keys.data"
    LOG_FILE_PATH: "data/log_file.csv"

# # test5所使用的新配置 
lsm_tree_config: 
    M: 838860800 # 总内存预算 100MB 100 * 2^20(1M) * 8(B) = 838860800 bits
    N: 1000000  # entry 数量 100 万条记录 ≈ 1000MB 数据
    Q: 10000000 # 查询数量 1000 万
    phi: 1
    s: 4 # range query selectivity
    E: 8192    # bits/entry  1 KB 2^10(1K) * 8(B) = 8192 bits

# test6使用的配置
# lsm_tree_config:
#     M: 268435456 # 总内存预算 32MB 32 * 2^20(1M) * 8(B) = 268435456 bits
#     N: 100000  # entry 数量 10 万条记录 ≈ 100MB 数据
#     Q: 1500000 # 查询数量 150 万
#     phi: 1
#     s: 4 # range query selectivity
#     E: 8192    # bits/entry  1 KB 2^10(1K) * 8(B) = 8192 bits
    
# # 简易快速执行版
# lsm_tree_config: 
#     M: 134217728        # 2^27 bits ≈ 16MB 内存
#     N: 100000           # 10 万条记录 ≈ 100MB 数据
#     Q: 20000            # 2 万查询
#     phi: 1
#     s: 4
#     E: 8192



# 旧的大配置
# lsm_tree_config: 
    # M: 8589934592 # 总内存预算 1GB 2^30(1G) * 8(B) = 8589934592 bits
    # N: 10000000  # entry 数量 1000 万条记录 ≈ 10GB 数据 100000000
    # Q: 500000  # 查询数量 50 万查询
    # phi: 1
    # s: 4 # range query selectivity
    # E: 8192    # bits/entry  1 KB 2^10(1K) * 8(B) = 8192 bits


jobs:
    job_list:
        - "run_experiments"

experiments:
    expt_list:
        - "LevelCost"

xgb_model:
    camal_xgb_cost_model: "data/train_camal_xgb_cost.pkl"
    lsmcache_xgb_cost_model: "data/train_lsmcache_xgb_cost.pkl"
    lsmcache_xgb_hit_model: "data/train_lsmcache_xgb_hit.pkl"


samples_path:
    camal_xgb_ckpt: "data/samples_camal_xgb_ckpt"
    camal_xgb_final: "data/samples_camal_xgb_final"
    lsmcache_xgb_ckpt: "data/samples_lsmcache_xgb_ckpt"
    lsmcache_xgb_final: "data/samples_lsmcache_xgb_final"
    lsmcache_hit_xgb_ckpt: "data/samples_lsmcache_hit_xgb_ckpt"
    lsmcache_hit_xgb_final: "data/samples_lsmcache_hit_xgb_final"


optimizer_path:
    camal_ckpt: "data/optimizer_camal_ckpt.csv"
    lsmcache_ckpt: "data/optimizer_lsmcache_ckpt.csv"
    camal_final: "data/optimizer_camal_final.csv"
    lsmcache_final: "data/optimizer_lsmcache_final.csv"